Repository remarkablemark/style-to-object: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, eslint --fix

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{css,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "*.{js,mjs,ts}": "eslint --fix",
  "*.{css,html,json,md,yml}": "prettier --write"
}

build(package): replace typescript-eslint
  package-lock.json
  package.json
Due: prettier --write

refactor(eslint): update eslint config for eslint 10
  __tests__/index.test.ts
  eslint.config.mts
  package.json
  src/index.ts
  tsconfig.eslint.json
Due: prettier --write, eslint --fix

ci(github): tidy eslint group in dependabot.yml
  .github/dependabot.yml
Due: prettier --write

build(package): update package-lock.json
  package-lock.json
Due: prettier --write

ci(github): build package before lint
  .github/workflows/build.yml
  .husky/commit-msg
  .husky/pre-commit
Due: prettier --write

build(tsconfig): change target from es5 to es6
  eslint.config.mts
  jest.config.ts
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.json
  tsconfig.test.json
Due: prettier --write, eslint --fix

refactor(tsconfig): consolidate tsconfigs by removing tsconfig.base.json
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.json
  tsconfig.test.json
Due: prettier --write

build: migrate rollup to tsdown
  package-lock.json
  package.json
  rollup.config.mjs
  tsconfig.test.json
  tsdown.config.ts
Due: prettier --write, eslint --fix

build(package): fix types
  package.json
  tsdown.config.ts
Due: prettier --write, eslint --fix

build(tsdown): make config DRY
  tsdown.config.ts
Due: eslint --fix

chore(tsconfig): remove unused tsconfig.cjs.json
  tsconfig.cjs.json
Due: prettier --write

build(tsconfig): add tsBuildInfoFile
  tsconfig.json
  tsconfig.test.json
Due: prettier --write

build(package): remove unused `tslib` from devDependencies
  package-lock.json
  package.json
Due: prettier --write

docs(readme): add migration v2
  README.md
Due: prettier --write

build(package): fix script prepublishOnly
  package.json
Due: prettier --write

chore(package): fix lint:tsc
  eslint.config.mts
  package.json
  tsconfig.test.json
Due: prettier --write

fix: allow JS ESM smoke test to pass typed lint
  __tests__/index.test.mjs
  eslint.config.mts
Due: eslint --fix

test(fixtures): add semicolon and parenthesis inside quoted url
  __tests__/fixtures/index.ts
Due: eslint --fix

fix(build): bundle inline-style-parser in UMD output
  tsdown.config.ts
Due: eslint --fix

ci(github): add UMD page test to workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

build(package): sort tsdown
  package.json
Due: prettier --write

test(fixtures): add unquoted background url with semicolon
  __tests__/fixtures/index.ts
Due: eslint --fix

ci(github): replace tag with hash in build.yml
  .github/workflows/build.yml
Due: prettier --write
