Repository remarkablemark/style-to-object: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{css,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

.lintstagedrc.json:

{
  "*.js": "npm run lint:fix",
  "*.{css,json,md,yml}": "prettier --write"
}

build(package): replace rollup-plugin-terser with @rollup/plugin-terser
  package.json
  rollup.config.js
Due: npm run lint:fix, prettier --write

docs(github): update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: prettier --write

build(package): remove caret from devDependency version
  package.json
Due: prettier --write

fix: include types in export
  package.json
Due: prettier --write

ci(github): delete workflow codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci(github): add workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

docs(github): migrate to ISSUE_TEMPLATE
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: prettier --write

ci(github): fix workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

ci(github): improve workflow auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

docs(readme): replace shield badges with badgen
  README.md
Due: prettier --write

chore(github): create CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): delete auto-assign.yml
  .github/workflows/auto-assign.yml
Due: prettier --write

chore(github): update CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(github): merge with squash in mergify.yml
  .github/mergify.yml
Due: prettier --write

build(package): remove .npmrc and add package-lock.json
  .npmrc
  package-lock.json
Due: prettier --write

chore(github): ignore package-lock.json in CODEOWNERS
  .github/CODEOWNERS
Due: none

Revert "build(deps): bump codecov/codecov-action from 3 to 4 (#131)"
  .github/workflows/build.yml
Due: prettier --write

build(rollup): rename rollup.config.js to rollup.config.mjs
  rollup.config.mjs
Due: none

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

build(rollup): generate sourcemap for UMD build
  package.json
  rollup.config.mjs
Due: prettier --write

test: migrate from mocha to jest
  .eslintrc.json
  .github/workflows/build.yml
  .husky/pre-commit
  .nycrc.json
  __tests__/fixtures/index.js
  __tests__/index.test.js
  __tests__/index.test.mjs
  __tests__/types/index.test.ts
  jest.config.js
  package-lock.json
  package.json
  test/index.js
  tsconfig.json
Due: npm run lint:fix, prettier --write

ci(github): modularize workflow commitlint.yml from build.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
Due: prettier --write

fix(index): export default function and add `Comment` to index.d.ts
  index.d.ts
Due: none

build(package): update dtslint and fix type errors
  .eslintrc.json
  __tests__/index.test.js
  __tests__/types/index.test.ts
  __tests__/types/index.ts
  package-lock.json
  package.json
  tslint.json
Due: npm run lint:fix, prettier --write

refactor: migrate to TypeScript
  .github/workflows/build.yml
  .gitignore
  .prettierrc.json
  README.md
  __tests__/fixtures/index.ts
  __tests__/index.test.mjs
  __tests__/index.test.ts
  __tests__/types/index.ts
  esm/index.mjs
  index.d.ts
  index.js
  index.mjs
  jest.config.ts
  package-lock.json
  package.json
  rollup.config.mjs
  src/index.ts
  tsconfig.json
  tslint.json
Due: npm run lint:fix, prettier --write

fix(package): add types to exports in package.json
  package.json
Due: prettier --write

fix(package): add "/src" to files to fix source map warning
  package.json
Due: prettier --write

fix(esm): ensure index.mjs is compatible with rollup umd build
  esm/index.mjs
Due: none

fix(package): specify "types" in package.json
  package.json
Due: prettier --write

ci(github): replace `npm install` with `npm ci`
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

build(tsconfig): move outDir from package.json scripts to tsconfig.json
  package.json
  tsconfig.json
Due: prettier --write

fix(esm): fix ESM types by adding index.d.mts
  .gitignore
  package.json
Due: prettier --write

ci(github): add CODECOV_TOKEN to workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

docs(readme): update description
  README.md
  package.json
Due: prettier --write

chore(husky): migrate to husky 9
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

build(package): fix 1 moderate severity vulnerability
  package-lock.json
Due: prettier --write
