Repository remarkablemark/style-to-object: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

ci(travis): lint most recent commit message with `commitlint`
  .travis.yml
Due: prettier --write

chore(package): remove `istanbul` with `nyc`
  package.json
Due: none

chore(git): update `.gitignore` and ignore `.nyc_output`
  .gitignore
Due: none

chore(package): add script `test:watch`
  package.json
Due: none

docs(readme): update testing and release sections
  README.md
Due: prettier --write

ci(travis): replace `after_script` with `after_success`
  .travis.yml
Due: prettier --write

perf(index): replace dependency `css` with `inline-style-parser`
  index.js
  package.json
  test/data.js
  test/index.js
Due: npm run lint:fix

docs(readme): update code block example for invalid args
  README.md
Due: prettier --write

chore(package): add option `--no-verify` to `release` script
  package.json
Due: none

chore(release): 0.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat: add typescript support
  index.d.ts
Due: none

chore: add index.d.ts into package.json#files
  package.json
Due: none

chore: add dtslint for index.d.ts
  index.d.ts
  package.json
  tsconfig.json
  tslint.json
Due: none

chore(package): upgrade devDependencies
  package.json
Due: none

chore(package): remove `clean` from `build`, update `prepublishOnly`
  package.json
Due: none

ci(travis): run `lint:dts` in script
  .travis.yml
Due: prettier --write

docs(readme): fix variable in code block and describe `lint:dts`
  README.md
Due: prettier --write

fix(index): update return type of main function (remove `any`)
  index.d.ts
Due: none

test(index): add test for TS declaration file
  test/index.test.ts
  tsconfig.json
Due: none

chore(package): save and refactor scripts with `npm-run-all`
  package.json
Due: none

chore(release): 0.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(github): add `FUNDING.yml`
  .github/FUNDING.yml
Due: prettier --write

chore(github): add `ISSUE_TEMPLATE.md`
  .github/ISSUE_TEMPLATE.md
Due: prettier --write

chore(github): add `PULL_REQUEST_TEMPLATE.md`
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

add esm support
  index.mjs
  package.json
Due: none

add "module" entrypoint (for browsers)
  package.json
Due: none

chore(nyc): add .nycrc and set reporter to "lcov"
  .nycrc.json
Due: none

ci(github): add workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(travis): remove .travis.yml
  .travis.yml
Due: prettier --write

chore(package): remove coveralls from scripts and devDependencies
  package.json
Due: none

docs(readme): replace status badge and remove unused script
  README.md
Due: prettier --write

chore(github): add GitHub Sponsors username to FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore(nyc): update .nycrc to not instrument "all" files
  .nycrc.json
Due: none

build(package): upgrade devDependencies
  package.json
Due: none

build(package): save `typescript` to devDependencies
  package.json
Due: none

chore: migrate husky 4 to 6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
Due: none

chore(eslint): rename .eslintrc -> .eslintrc.json
  .eslintrc.json
Due: none

chore(lintstaged): rename and update .lintstagedrc
  .lintstagedrc
  .lintstagedrc.json
Due: none

style: upgrade prettier and fix lint
  .prettierrc
  .prettierrc.json
  package.json
  test/index.js
Due: npm run lint:fix

feat: add esm support
  index.mjs
Due: none

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: any of: *.{css,md,yml}
