Repository remarkablemark/style-to-object: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write, eslint --fix

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): update mergify.yml
  .github/mergify.yml
Due: prettier --write

build(package): upgrade devDependencies
  package-lock.json
  package.json
Due: prettier --write

chore(eslint): migrate to eslint 9
  .eslintrc.json
  .github/dependabot.yml
  __tests__/index.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

build(package): fix 1 moderate severity vulnerability
  package-lock.json
Due: prettier --write

style: add `eslint-plugin-simple-import-sort`
  __tests__/index.test.mjs
  __tests__/index.test.ts
  eslint.config.mjs
  package-lock.json
  package.json
  src/index.ts
Due: prettier --write, eslint --fix

ci(github): add .nvmrc and update build.yml and commitlint.yml
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .nvmrc
Due: prettier --write

ci(github): publish package to npm registry with provenance
  .github/workflows/release-please.yml
Due: prettier --write

build(package): save `@types/node` to fix typescript error
  package-lock.json
  package.json
Due: prettier --write

ci(github): tidy codecov in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

build(rollup): allow for files to be nested in folders within outDir
  rollup.config.mjs
Due: eslint --fix

build(package): upgrade lockfileVersion from 2 to 3
  package-lock.json
  package.json
Due: prettier --write

build(package): fix package.json repository url
  package.json
Due: prettier --write

chore(index): export StyleObject interface
  src/index.ts
Due: eslint --fix

chore(github): delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

test(jest): fix tests
  jest.config.ts
  package.json
Due: prettier --write, eslint --fix

build(package): save tslib to devDependencies
  package-lock.json
  package.json
Due: prettier --write

fix: switch to true esm build
  esm/index.d.ts
  esm/index.d.ts.map
  esm/index.js
  esm/index.js.map
  esm/index.mjs.map
  package.json
  rollup.config.mjs
  tsconfig.base.json
  tsconfig.cjs.json
  tsconfig.json
Due: npm run lint:fix, prettier --write, eslint --fix

fix: remove esm build dir
  .gitignore
  esm/index.d.ts
  esm/index.d.ts.map
  esm/index.js
  esm/index.js.map
  esm/index.mjs
  esm/index.mjs.map
Due: npm run lint:fix, eslint --fix

ci(github): set workflow permissions
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: prettier --write

build(nvmrc): bump Node.js version from 20 to 22
  .nvmrc
  package.json
Due: prettier --write

build(package-lock): fix 1 low severity vulnerability
  package-lock.json
Due: prettier --write

build(nvmrc): bump Node.js version from 22 to 24
  .nvmrc
Due: none

build(package): save publint to devDependencies
  package-lock.json
  package.json
Due: prettier --write

fix(package): fix esm types
  .github/workflows/build.yml
  .husky/pre-commit
  package.json
Due: prettier --write

fix(package): fix esm types (#769)
  .github/workflows/build.yml
  .husky/pre-commit
  package.json
Due: prettier --write

docs(readme): replace badgen.net with shields.io status badges
  README.md
Due: prettier --write

docs(readme): fix nodeico link
  README.md
Due: prettier --write

docs(readme): update nodeico image
  README.md
Due: prettier --write

chore: update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

ci(github): add workflow assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

ci(github): pin workflow actions to hash
  .github/workflows/build.yml
  .github/workflows/commitlint.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): install with ignore scripts in release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): delete .github/workflows/assign-reviewer.yml
  .github/workflows/assign-reviewer.yml
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.js
  prettier --write: (any of: *.{css,md,yml}) or (any of: *.{css,html,json,md,yml})
  eslint --fix: any of: *.{js,mjs,ts}
