Repository remarkablemark/style-to-object: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "npm run lint:fix",
    "git add"
  ],
  "*.{css,md,yml}": [
    "prettier --write",
    "git add"
  ]
}

test: add tests for esm
  package.json
  test/esm.mjs
Due: none

fix: test indentation and spelling error
  test/esm.mjs
Due: none

docs(readme): remove `$` from code blocks
  README.md
Due: prettier --write

ci(github): create `release-please.yml`
  .github/workflows/release-please.yml
Due: prettier --write

feat: add esm support
  index.mjs
  package.json
Due: none

feat: add "module" entrypoint (for browsers)
  package.json
Due: none

chore(nyc): update .nycrc to not instrument "all" files
  .nycrc.json
Due: none

chore(package): remove coveralls from scripts and devDependencies
  package.json
Due: none

chore(nyc): add .nycrc and set reporter to "lcov"
  .nycrc.json
Due: none

feat: add esm support
  index.mjs
Due: none

ci(github): add workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(travis): remove .travis.yml
  .travis.yml
Due: prettier --write

docs(readme): replace status badge and remove unused script
  README.md
Due: prettier --write

chore(github): add GitHub Sponsors username to FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

chore: rename commits
  .husky/_/husky.sh
  package.json
Due: none

Update dependencies
  .husky/.gitignore
  .husky/_/husky.sh
  .husky/commit-msg
  package.json
  rollup.config.js
Due: npm run lint:fix

ci(github): update workflow release-please.yml
  .github/workflows/release-please.yml
Due: prettier --write

ci(github): update workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

ci(github): revert node-version to 14
  .github/workflows/build.yml
Due: prettier --write

docs(readme): remove david-dm status badge
  README.md
Due: prettier --write

docs(readme): update replit link
  README.md
Due: prettier --write

build(package): remove standard-version
  package.json
Due: none

docs(readme): update release section
  README.md
Due: prettier --write

build: replace rollup-plugin-uglify with rollup-plugin-terser
  package.json
  rollup.config.js
Due: npm run lint:fix

build: update rollup plugin commonjs and node-resolve
  package.json
  rollup.config.js
Due: npm run lint:fix

ci(github): use latest Node.js version in workflow build.yml
  .github/workflows/build.yml
Due: prettier --write

build(package): upgrade devDependencies
  package.json
Due: none

ci(github): add workflow codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: prettier --write

ci(github): add dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): add mergify.yml
  .github/mergify.yml
Due: prettier --write

docs(readme): replace codecov status badge
  README.md
Due: prettier --write

chore: fix .lintstagedrc.json
  .lintstagedrc.json
Due: none

chore(husky): tidy pre-commit hook
  .husky/pre-commit
Due: none

chore(commitlint): update "body-max-line-length" rule
  .commitlintrc.json
Due: none

docs: add SECURITY.md
  SECURITY.md
Due: prettier --write

ci(github): update dependabot.yml
  .github/dependabot.yml
Due: prettier --write

ci(github): tidy mergify.yml
  .github/mergify.yml
Due: prettier --write

feat: add ESM support
  .github/workflows/build.yml
  index.js
  index.mjs
  package.json
  test/index.mjs
Due: npm run lint:fix, prettier --write
